<app-header></app-header>


<div class="section" style="margin-top: 5%;" id="about">
    <div class="container" style="margin-top: 50px; margin-bottom:50px;">
      <div class="row display-flex-center ">
        <div class="col-md-6 col-xs-12">
          <img src="./assets/image/aboutus1.png" data-aos="zoom-in-down" class="center-block img-responsive">
        </div>
        <div class="col-md-6 col-xs-12">
          <h1 class="text-left">About Us</h1>
          <p class="text-justify">Line Clear Express &amp; Logistics Sdn Bhd (Line Clear) were formed in
            2015, a wholly-owned subsidiary of MMAG Holdings Berhad, a publicly-traded
            company on the ACE Market of Bursa Malaysia. Today, they see a fully integrated
            supply chain management specialist led by innovation. A company that were
            not only reinventing the express delivery business model but redefining
            the purpose of the business itself. Line Clear are undergoing a business
            transformation driven by new business methodology, creativity, technology
            and infrastructure that connect all the dots seamlessly. &nbsp;</p>
        </div>
      </div>
      <div class="row" style="margin-top:20px; margin-bottom: 20px;">
        <div class="col-md-12 col-xs-12">
          <p class="text-justify">Line Clear have 66 hubs and branches in Malaysia, including Sabah and
            Sarawak. Their massive warehouses in Subang UEP (Selangor), Gelang Patah
            (Johor), Tambun (Penang) and other strategic locations have a total capacity
            of 1 million square feet. These warehouses are fully equipped with racks,
            forklifts, a conveyor belt system. A systematic sorting arrangement and
            pick-and-pack solutions that operate 18 hours a day.&nbsp;
            <br>
            <br>The&nbsp;decentralization methodology allows goods and parcels to be sorted
            out at hubs and depots at the regional level. This speeds up the handling
            time and allows goods to be sent and received on the same day in the Klang
            Valley, Johor Bahru, Penang, Ipoh, Melaka, Seremban and Kuantan.</p>
        </div>
      </div>
      <div class="row display-flex-center ">
        <div class="col-md-6 col-xs-12">
          <p class="text-justify">Their fleet of over 800 vehicles includes trucks, vans, line haul vehicles,
            prime movers and motorcycles. With the current setup, Line Clear have the
            capacity to manage 100,000 air waybills (AWB) per day. Their services include
            courier services, freight services, transit insurance, transit clearance,
            customised and special handling services, warehousing, fulfilment, 3rd
            and 4th party logistics. &nbsp;
            <br>Line Clear’s Scan2Deliver smart technology empowers customers to make
            end-to-end delivery using the web or app. Information will be at the customer’s
            fingertips and authentication of customers will be via QR code, an innovation
            that is transforming the speed and scale of business in an economy disrupted
            by the Covid-19 pandemic.
            <br>
            <br>Line Clear aim to move not just things but to mobilise people, business
            and the economy in these challenging times and beyond.</p>
        </div>
        <div class="col-md-6 col-xs-12">
          <img src="./assets/image/aboutus2.png" data-aos="zoom-in-down" class="center-block img-responsive">
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>