<app-header></app-header>

<div class="section" style="margin-top: 86px;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <img src="./assets/image/lineshield-02.png" class="center-block img-responsive" width="50%">
          <h3 class="text-center" style="padding: 10px 0px; background-color:#263D8D; color: white; margin: 20px auto; border-radius:40px; width: 80%; ">INSURE YOUR PARCEL NOW!</h3>
          <p class="text-center" style="margin-bottom: 40px;">LINE SHIELD PACKAGE offers you coverage
            <br>with best value for your parcel protection.
            <br>
            <span style="color:#91331E; font-weight: 600;">As low as RM5 for protection coverage of up to RM1,000</span>
            <br>*with maximum Protection Coverage of RM10,000</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="col-md-4">
            <img src="./assets/image/lineshield-05.png" class="center-block img-responsive">
            <h4 class="text-center">INSURANCE
              <br>PROTECTION</h4>
          </div>
          <div class="col-md-4">
            <img src="./assets/image/lineshield-03.png" class="center-block img-responsive">
            <h4 class="text-center">AS LOW
              <br>AS RM5</h4>
          </div>
          <div class="col-md-4">
            <img src="./assets/image/lineshield-04.png" class="center-block img-responsive">
            <h4 class="text-center">GUARANTEE
              <br>CLAIMS</h4>
          </div>
          <div class="col-md-12" style="margin: 50px 0px;">
            <table class="table table-bordered table-striped" style="text-align: center;  ">
              <thead>
                <tr>
                  <th style="text-align: center; background-color: #3CC5F2; color: white;">Protection Coverage
                    <br>Range on Value Shipment</th>
                  <th style="text-align: center;  background-color: #3CC5F2; color: white;">Retail Price
                    <br>(include 6% SST)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>RM1 to RM1,000</td>
                  <td>RM 5</td>
                </tr>
                <tr>
                  <td>RM1,001 to RM2,000</td>
                  <td>RM10</td>
                </tr>
                <tr>
                  <td>RM2,001 to RM3,000</td>
                  <td>RM15</td>
                </tr>
                <tr>
                  <td>RM3,001 to RM4,000</td>
                  <td>RM20</td>
                </tr>
                <tr>
                  <td>RM4,001 to RM5,000</td>
                  <td>RM30</td>
                </tr>
                <tr>
                  <td>RM5,001 to RM10,000</td>
                  <td>RM50</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-4">
          <p>
            <b>1. PROTECTION</b>
            <br>
            <br>Your parcel protection coverage starts the very minute your parcel is
            picked up by our Courier until delivered to the receiver.
            <br>
            <br>
            <b>2. GUARANTEE CLAIMS</b>
            <br>
            <br>Your claims are guaranteed by our international insurer. To speed up your
            claims please ensure that you have submitted complete supporting documents.&nbsp;
            <br>
            <br>
            <b>3. HIGH VALUE SHIPMENT</b>
            <br>
            <br>Special Attention. Highly attractive/Target Goods are allowed and covered
            up to a maximum RM10,000. We will be responsible for the lost, damaged,
            missing package/item(s) which is insured thru Line Shield.&nbsp;
            <br>
            <br>
            <b>4. COMPENSATION</b>
            <br>
            <br>All compensation is subject to sum insured.
            <br>
            <br>&nbsp; Compensation will be paid within 2 working days (48 hours) from
            the date of receipt of all complete supporting and valid documentation.&nbsp;</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="lead text-center" style="padding: 20px 0px; background-color:#263D8D; color: white; margin: 0px auto; ; ">For further enquiries, please contact our Sales Executive or Customer
            Service
            <br>at your nearest branch or email to:
            <br>lineshield.helpdesk@lineclearexpress.com</p>
        </div>
      </div>
    </div>
</div>

<app-footer></app-footer>